*{
    /*border: 2px solid red;*/
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
body{
    margin:0;
    display: flex;
    flex-direction: column;
    background-color: #F0EBCE;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
form{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 180px;
    padding: 10px;
    border: 4px solid #4E6C50;
    border-radius: 30px;
}
label{
    margin: 5px;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 2px #414141;

}
input{
    margin: 5px;
    width: 90px;
    align-self: center;
    border: none;
    border-radius: 30px;
}

.btn{
    font-size: 1rem;
    line-height: 1.625;
    background-color: #1e3268;
    color: antiquewhite;
    border-radius: 10px;
    box-shadow: 1px 2px gray;
}
.btn:hover{
    box-shadow: 2px 5px gray;
}
.btn:active{
    background-color: #414141;
    color: antiquewhite;
    box-shadow: none;
}
a {
    text-decoration: none;
    color: black;
}
